.container__auth {
  margin: 100px auto;
  padding: 75px;
  border:1px solid white;
  border-radius: 5px;
}

@media (max-width: 960px) {
  .container__auth {
    padding-left: 0;
    padding-right: 0;
  }
}