.wrapperVariables {
  display: grid;
  grid-template-rows: 2rem 1fr;
  padding: 10px;
  height: calc(50vh - 160px);
  border: 1px solid rgb(60, 60, 247);
  // min-height: 135px;
}

.variables {
  background-color: rgba(83, 83, 248, 0.114);
}

.wrapperButtons {
  display: flex;
  justify-content: space-between;
}

.hidden {
  height: 60px;
}

.editor_hidden {
  display: none;
}

.additionalEditor {
  display: grid;
}
