.logo {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  cursor: pointer;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
