.wrapper {
  display: grid;
  grid-template-columns: 1.7rem 1px 1fr 1fr;
  height: calc(100vh - 160px);
  padding-top: 140px;
  gap: 10px;
}

.wrapperRequest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapperRedactor,
.wrapperVariables {
  padding: 10px;
  height: calc(50vh - 160px);
  border: 1px solid rgb(60, 60, 247);
}

.wrapperRedactor {
  display: grid;
  grid-template-columns: 1fr 1.7rem;
}

.wrapperVariables {
  display: grid;
  grid-template-rows: 2rem 1fr;
}

.redactor {
  background-color: rgba(83, 83, 248, 0.114);
}

.variables {
  background-color: rgba(83, 83, 248, 0.114);
}

.wrapperButtons {
  display: flex;
}

.wrapperResponse {
  display: grid;
  padding: 10px;
  border: 1px solid rgb(60, 60, 247);
}

.active {
  grid-template-columns: 1.7rem 0.4fr 1fr 1fr;
}

@media (max-width: 960px) {
  .wrapper {
    height: auto;
    grid-template-columns: 1fr;
  }
  .active {
    grid-template-columns: 1fr;
  }
}
