.navigation {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}

.burger_opened {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
