.header__wrapper {
  position: fixed;
  z-index: 99;
  top: 0;
  display: flex;
  width: calc(100% - 40px);
  max-width: inherit;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  transition: all 0.5s ease;
  background: transparent;
}

.header__wrapper_sticky {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #1a1b1e;
  box-shadow: 0 5px 4px -4px yellow;
}

.header__container {
  margin: 0 auto;
  max-width: 1357px;
  width: 100%;
}
