.footer__container {
  display: flex;
  max-width: 1357px;
  justify-content: space-between;
  margin: 0 auto;
  gap: 2em;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

@media (max-width: 489px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
